.ant-menu .anticon {
    margin-right: 10px;
    font-size   : 18px;
}

.searchArea .ant-input,
.searchArea .ant-select {
    width       : 10vw;
    margin-right: 1vw;
}

.searchArea .ant-calendar-picker-input {
    width: 14vw;
}

.table-striped td {
    background-color: rgb(245, 245, 245);
}

.ant-table-striped .ant-table-thead>tr>th {
    background-color: rgb(242, 242, 242);
    text-align      : center;
}

.ant-table-striped .ant-table-tbody>tr>td {
    text-align: center;
}

.editable-row-operations a {
    margin-right: 8px;
}

.searchArea {
    margin-bottom: 20px;
}

.operationArea {
    margin-bottom: 20px;
}

.operationArea .ant-btn {
    margin-right: 15px;
}

.steps-content {
    border          : 1px dashed #e9e9e9;
    border-radius   : 6px;
    background-color: #fafafa;
    min-height      : 200px;
    text-align      : center;
    padding-top     : 60px;
    padding-bottom  : 20px;
}

.steps-content form {
    max-height: 67vh;
    min-height: 40vh;
    overflow  : auto;
}

.steps-action {
    margin-top: 24px;
}

.steps-content {
    background-color: #fff;
}

.ant-upload-select-picture-card i {
    font-size: 32px;
    color    : #999;
}

.ant-upload-select-picture-card .ant-upload-text {
    margin-top: 8px;
    color     : #666;
}

.ant-upload-list-picture-card .ant-upload-list-item:hover .ant-upload-list-item-info:before {
    left: 0;
}

.ant-page-header {
    background: #fff;
}

.ant-breadcrumb {
    font-size: 20px !important;
    margin   : 10px 0 !important;
}

.ant-page-header.has-breadcrumb {
    padding: 5px 24px;
}

.ant-menu {
    font-size  : 18px;
    font-weight: 600;
}

.ant-tabs-tab span {
    color      : #000;
    font-weight: bold;
    display    : inline-block;
}

.ant-tabs-tab-active span {
    color: #1890ff;
}

.statisticArea {
    display   : flex;
    flex-wrap : wrap;
    margin-top: 5px;
}

.statisticArea>div {
    display  : flex;
    flex-wrap: wrap;
    width    : 100%;
}

.statisticRow {
    width    : 100%;
    display  : flex;
    flex-wrap: wrap;
}

.statisticRow>div {
    width          : 50%;
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-between;
}

.statisticRow.line1>div {
    width: 100%;
}

.statisticStyle {
    width        : 49%;
    box-shadow   : 0 0 10px #00000030;
    margin-bottom: 15px;
}

.ant-statistic {
    padding: 15px 25px;
}

.ant-statistic-title {
    font-size : 18px;
    text-align: center;
}

.ant-statistic-content {
    font-size    : 28px;
    border-bottom: 1px solid rgb(230, 230, 230);
    padding      : 5px 0 15px;
    text-align   : center;
}

.ant-tabs-content {
    /* height  : 82vh; */
    /* overflow: auto; */
    padding: 0 1%;
}

.ant-statistic-content-value-int {
    font-weight: 700;
}

.statisticInfo {
    display        : flex;
    padding        : 0 25px;
    color          : rgba(0, 0, 0, 0.647);
    font-weight    : 400;
    margin-bottom  : 5px;
    justify-content: space-around;

}

.statisticInfo p {
    /* width: 40%; */
    /* margin: 0 5%; */
    color: rgba(0, 0, 0, 0.647);
}


.statisticRow .line1 .statisticStyle {
    width: 98%;
}

.statisticTitle {
    font-size    : 18px;
    padding      : 20px 0 20px 25px;
    font-weight  : bold;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.statisticTitle p {
    margin: 0;
}

.statisticTitle span {
    font-family: '微软雅黑 Bold',
        '微软雅黑 Regular',
        '微软雅黑',
        sans-serif;
    font-weight: 700;
    color      : #409EFF;
}

.statisticChart {
    height             : 281px;
    /* background-color: #000; */
    padding            : 0 20px 20px;
    box-sizing         : border-box;
}

.statisticChart.line2 {
    display: flex;
}

.statisticChart>div {
    /* width: 100%; */
    height: 100%;
}

.statisticChart.line2>div {
    width : 50%;
    height: 100%;
}

.address .ant-form-item-control-input-content {
    display: flex;
}

.ant-input-number {
    width: 100%;
}

.switchLeft .ant-form-item-control-input-content {
    flex: inherit;
}

.ant-switch {
    width    : 80px;
    font-size: 16px;
}

.ant-form .ant-calendar-picker {
    width: 100% !important;
}

.ant-calendar-picker-clear,
.ant-calendar-picker-icon {
    right: 30px;
}

.tableTabs .ant-tabs-content {
    height  : auto;
    overflow: visible;
}

.flex_sb {
    display        : flex;
    justify-content: space-between;
}

.flex_sa {
    display        : flex;
    justify-content: space-around;
}

.stepStyle {
    position       : fixed;
    top            : 20vh;
    left           : 15vw;
    z-index        : 99;
    width          : fit-content;
    height         : 30vh;
    display        : flex;
    justify-content: space-around;
    flex-direction : column;
}

.ant-steps-item-description {
    /* padding: 3vh 0; */
}

.steps-action {
    display        : flex;
    justify-content: center;
}

.ant-steps-item {
    cursor: pointer;
}

.ant-steps-item:hover .ant-steps-item-icon {
    border-color: #1890ff;
}

.ant-steps-item:hover .ant-steps-item-icon span {
    color: #1890ff;
}

.ant-steps-item:hover .ant-steps-item-title,
.ant-steps-item:hover .ant-steps-item-description {
    color: #1890ff !important;
}

.ant-typography {
    text-align      : left;
    background-color: rgb(249, 249, 249);
    border-bottom   : 1px solid #ddd;
    padding         : 12px 30px;
    margin-bottom   : 30px !important;
    letter-spacing  : .1em;
    color           : #666666 !important;
}

.bgStyle {
    overflow     : hidden;
    border-radius: 15px;
    border       : 1px solid #ddd;
    width        : 70%;
    margin       : 0 auto;
    margin-bottom: 20px;
}

.ant-upload-list-picture-card .ant-upload-list-item-info:before {
    left: 0
}

.statusStyle {
    margin       : 25px auto;
    display      : flex;
    box-shadow   : 0 0 10px #00000030;
    border-radius: 10px;
}

.statusStyle>div {
    display: flex;
    padding: 35px 40px;
    width  : 25%;
    cursor : pointer;
}

.statusStyle>div:hover {
    background-color: #f9f9f9d8;
}

.statusStyle>div.clicked {
    background-color: #f3f3f3;
}

.statusStyle>div>div {
    padding-left: 20px;
}

.statusStyle img {
    width : 60px;
    height: 60px;
}

.statusStyle p {
    font-family: 'Montserrat Bold',
        'Montserrat Regular',
        'Montserrat',
        sans-serif;
    font-size  : 28px;
    line-height: 28px;
    margin     : 0;
    font-weight: 700;
    color      : #666666;
}

.statusStyle span {
    font-family: '微软雅黑',
        sans-serif;
    font-weight: 400;
    color      : #999999;
    font-size  : 14px;
    line-height: 32px;
}

.surveyStyle {
    display        : flex;
    justify-content: space-between;
}

.surveyStyle>div {
    width        : 69%;
    /* background: skyblue; */
}

.surveyStyle>div:last-child {
    width: 30%;
}

.surveyStyle .bgStyle {
    width     : 100%;
    box-shadow: 0 0 5px #00000030;
}

.surveyStyle .ant-table-striped .ant-table-thead>tr>th {
    background-color: transparent;
}

.surveyStyle .ant-table-wrapper {
    padding: 0 2%;
}

.surveyStyle .ant-table-column-title {
    color: #999999;
}

.surveyStyle .ant-typography {
    margin-bottom: 15px !important;
}

.surveyStyle .ant-table-tbody>tr>td,
.surveyStyle .ant-table-thead>tr>th {
    padding: 12px;
}

.rankStyle,
.rankStyle2 {
    display      : inline-block;
    background   : rgb(255, 153, 0);
    width        : 25px;
    text-align   : center;
    padding      : 1px 0px;
    border-radius: 3px;
    color        : #fff;
    font-family  : 'Montserrat Bold',
        'Montserrat Regular',
        'Montserrat',
        sans-serif;
    font-weight: 700;
}

.rankStyle2 {
    background-color: rgb(204, 204, 204);
}

.allStyle {
    float : right;
    color : #409EFF;
    cursor: pointer;
}

.allStyle .anticon {
    margin-right: 5px;
}

.titleStyle3 {
    font-size     : 25px;
    font-weight   : bold;
    padding-bottom: 20px;
}

.logo {
    text-align: center;
}

.logo img {
    width: 35%;
}

hr {
    width       : 90%;
    margin      : 0 auto;
    border-color: #99999910;
}

.ant-popover-title {
    padding: 10px 16px 10px;
}

.ant-popover-inner-content p {
    margin-bottom: 0;
    padding      : 10px 5px;
}
