body {
    margin: 0;
}

:where(.css-dev-only-do-not-override-1hsjdkk).ant-menu-dark {
    background-color: rgb(42, 49, 57);
}

.ant-menu .anticon {
    margin-right: 10px;
    font-size   : 18px;
}


.ant-upload-select-picture-card i {
    font-size: 32px;
    color    : #999;
}

.ant-upload-select-picture-card .ant-upload-text {
    margin-top: 8px;
    color     : #666;
}

.ant-upload-list-picture-card .ant-upload-list-item:hover .ant-upload-list-item-info:before {
    left: 0;
}

.ant-page-header {
    background: #fff;
}

.ant-breadcrumb {
    font-size: 20px !important;
    margin   : 10px 0 !important;
}

.ant-page-header.has-breadcrumb {
    padding: 5px 24px;
}

.ant-menu {
    font-size  : 18px;
    font-weight: 600;
}

.ant-tabs-tab span {
    color      : #000;
    font-weight: bold;
    display    : inline-block;
}


.ant-upload-list-picture-card .ant-upload-list-item-info:before {
    left: 0
}

hr {
    width       : 90%;
    margin      : 0 auto;
    border-color: #99999910;
}

.title {
    background-color: rgb(42, 49, 57);
    display         : flex;
    padding         : 20px 70px;
    color           : rgb(187, 187, 187);
    box-shadow      : inset 0px 0 30px #111;
}

.title>div {
    margin-right: 50px;
    font-size   : 20px;
}

.title img {
    width         : 50px;
    height        : 50px;
    margin-right  : 15px;
    vertical-align: middle;
}

.title span {
    display         : inline-block;
    vertical-align  : middle;
    /* margin-bottom: 5px; */
}

:where(.css-dev-only-do-not-override-1hsjdkk).ant-menu-inline.ant-menu-root .ant-menu-item>.ant-menu-title-content,
:where(.css-dev-only-do-not-override-1hsjdkk).ant-menu-inline.ant-menu-root .ant-menu-submenu-title>.ant-menu-title-content {
    flex: none;
}